
.Login{
	position: relative;
	top: 100px;
	left:50%;
	margin-left: -10%;
	width: 20%;
	background-color: rgba(10,10,10,.6);
	box-shadow: 2px 3px 5px rgba(10,10,10,.6);
	padding: 15px 15px 0;
	box-sizing: border-box;	
	border-radius: 10px;
}
.Login .login-form-button{
	width: 100%;
	margin-bottom: 15px;
}